:root {
  --bg-paper: #f3f6fc;
  --bg-paper-light: #e0e0e0;
  --foreground: #121212;
  --cloud: #f8a1c4;
}

.dark {
  --bg-paper: #121212;
  --bg-paper-light: #2c2c2c;
  --foreground: #ededed;
  --cloud: #6b3a5c;
}
